.bodyContainer{
    padding-bottom: 117px;
    width: 100%;
}

.SectionsContainer{
    width: 100%;
}

.footer{
    height: 117px;
    border: 1px solid #9EADBA;
    background-color: #DFE6ED;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer .footerCard{
    width: 64px;
    height: 89px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.footer .footerCard img{
    width: 48px;
    height: 72px;
    object-fit: cover;
}

.footer .footerText{
    font-size: 26px;
    font-weight: 400;
}

.SectionsContainer{
    font-size: 20px;
}

.SectionDayContainer{
    margin-bottom: 30px;
}

.TimeContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.TimeContainer .Time{
    width: 82px;
    height: 43px;
    margin: 5px 9px 5px 0;
    background-color: #E8833A;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
}