.bodyContainer{
    padding-bottom: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    height: 117px;
    border: 1px solid #9EADBA;
    background-color: #DFE6ED;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer .footerCard{
    width: 64px;
    height: 89px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.footer .footerCard img{
    width: 48px;
    height: 72px;
    object-fit: cover;
}

.footer .footerText{
    font-size: 26px;
    font-weight: 400;
}

.SeatsContainer{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    justify-content: space-between;
}

.SeatsContainer .seat{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px 4px;
    font-size: 11px;
}

.seatCategoryContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 80%;
}

.seatCategoryContainer .seatCategory{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.seatCategoryContainer .seatCategory .seat{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px 4px;
    font-size: 11px;
}

.seat{
    border: 1px solid #808F9D;
    background: #C3CFD9;
}

.seat.select{
    cursor: pointer;
}

.seat.unavailable{
    border: 1px solid #F7C52B;
    background: #FBE192;
}

.seat.selected{
    border: 1px solid #45BDB0;
    background: #8DD7CF;
}

.seatCategoryContainer .seatCategory .seatText{
    font-size: 13px;
}

.fieldsContainer{
    width: 300px;
    margin: auto;
    margin-top: 35px;
}

.fieldsContainer div{
    margin-top: 10px;
    color: #293845;
    font-size: 18px;
}

.fieldsContainer input{
    height: 51px;
    width: 100%;
    max-width: 400px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #D4D4D4;
}

.fieldsContainer input::placeholder{
    color: #AFAFAF;
    font-size: 18px;
    font-style: italic;
}

button{
    width: 225px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #E8833A;
    border: none;
    color: #FFF;
    font-size: 18px;
    margin-top: 30px;
}